<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Deploying Engineer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.11/angular-route.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="~/Content/Scripts/app.js"></script>
        @Styles.Render("~/Content/Css")
        @Scripts.Render("~/Content/Scripts/Controllers")
        @Scripts.Render("~/Content/Scripts/Plugins")
    </head>
    <body ng-app="engineerBlog">
        <div id="SidePanel">
            <div>@Html.ActionLink("Engineer in Dev", "Index", "Home", new { area = "" }, new { })</div>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li>Archive</li>
            </ul>
            <div>
                <a class="fa fa-github fa-3x" href="https://github.com/rvbmrdonut"></a>
                <a class="fa fa-linkedin fa-3x"></a>
                <a class="fa fa-twitter fa-3x"></a> 
            </div>
            <div>&copy; @DateTime.Now.Year - Matthew Hartz</div>
        </div>
        <div id="Content">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
