<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.11/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/app.js"></script>
    @Styles.Render("~/Content/Styles")
    @Scripts.Render("~/Content/Controllers")
    @Scripts.Render("~/Content/Plugins")
    @Scripts.Render("~/Content/Directives")
    @Scripts.Render("~/Content/Filters")
</head>
<body ng-app="engineerBlog" ng-controller="HeaderCtrl">
    <div id="banner" scroll>
        <div id="header">
            <div id="titleAndImageWrapper">
                <div id="ImageCropper" ng-class="atTop || atTop == null ? 'animate-top' : 'animate-scroll'">
                    <a href="/"><img src="~/Content/Images/Profile.jpg" id="ProfilePic" /></a>
                </div>
                <h1 id="Title">
                    <a target="_self" href="/">Engineer In Dev</a>
                </h1>
            </div>
        </div>
        <div class="navibar" ng-class="fixNavbar()">
            <div class="social-wrapper">
                <a class="fa fa-github fa-3x" href="https://github.com/rvbmrdonut"></a>
                <a class="fa fa-linkedin fa-3x" href="https://www.linkedin.com/profile/view?id=339436721&trk=hp-identity-name"></a>
                <a class="fa fa-twitter fa-3x" href="https://twitter.com/MatthewVHartz"></a>
            </div>
            <div class="navibar-options">
                <ul>
                    <li><a target="_self" href="About">about</a></li>
                    <li><a target="_self" href="Contact">contact</a></li>
                    <li><a target="_self" href="Past">past</a></li>
                </ul>
            </div>
        </div>
        <div class="navibar-margin" ng-show="!atTop && atTop != null"></div>
        
    </div>
    <div id="Content">
        @RenderBody()
    </div>
    <footer>
        <div id="CopyRight">&copy; @DateTime.Now.Year - Matthew Hartz</div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
